<!doctype html>
{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Магазин{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="card" style="width: 18rem;">
  <img src='{{ product.image | media_filter }}'>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description | truncatechars:100}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Категория: {{ product.category }}</li>
    <li class="list-group-item">Дата добавления: {{ product.created_at | date:'d M Y' }}</li>
    <li class="list-group-item">Цена: {{ product.price }}</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-success">Купить</button>
    <a class="btn btn-warning" href="javascript:history.back()" role="button">Назад</a>
  </div>
</div>
{% endblock %}
